.services{
        padding: 70px;
        line-height: 2;
        color: #424753;
        
    h2{
        font-size: 2rem !important;
        font-weight: 400;
    }
    span{
        font-size: 1rem !important;
        font-weight: 400;
    }
    ul{
        list-style-type:inherit;
        margin-top: 10px;
        margin-bottom: 50px;
    }
}