.home-section-articles {
  display: flex;
  gap: 2rem;
}
.home-news-article {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  line-height: 2rem;
  padding: 3px;

  &-title {
    font-size: 1.8rem;
  }

  &-button {
    padding: 1rem;
    width: 200px;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    background-color: #263868;
    color: white;
    transition: all 0.2s;

    &:hover {
      background-color: rgb(56, 63, 77);
    }

    > h2 {
      font-size: 1rem;
    }
  }
}
