.header {
  z-index: 999;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;
  width: 100%;
  top: 0;
  left: 0;
  position: relative;

  &-nav {
    width: max-content;
    display: flex;
    justify-content: center;
    position: relative;

    &-lists {
      margin-left: 100px;
      display: flex;
      gap: 20px;

      > li {
        display: flex;
        cursor: pointer;
        align-items: flex-end;
        font-weight: 900;

        &:hover {
          color: #c80000 !important;
        }
      }
    }
  }
}
.icons{
  margin-top: 20px;
  margin-right: 15px;
  height: 50px;
  width: 100px;
 cursor: pointer;
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin-right: 30px;
 position: absolute;
 right: 0;
 top: 20;

 &-child{
  width: 15px;
  height: 15px;
  filter: grayscale(100%);
  transition: filter 0.3s;
  &:hover{
    color: #c80000;
    filter: grayscale(0%);
  }
 }
 &-child1{
  width: 20px;
  height: 20px;
 }
 
}

.header-logo {
  cursor: pointer;
  width: 100px;
}

.search {
  position: absolute;
  background: #ececec;
  top: 26px;
  left: 0;
  width: 254px;
  height: 41px;
  padding: 10px;
  border: none;
  border-radius: 15px;
}

.active-link {
  color: #c80000 !important;
}
