.taxes{
        padding: 70px;
        margin-top: 40px;
        color: #424753;
        >h1{
           margin-bottom: 50px;
        }
       >p{ 
           margin-top: 15px;
           margin-bottom: 15px;
           line-height: 2;
       }
       >ul{
           list-style-type: disc;
       >li{
           margin-top: 15px;
       }
   }
   }
