.footer {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  &-navigation {
    &-lists {
      display: flex;
      gap: 2rem;
    }
  }
}
