.footer {
  margin-top: 5rem;
  height: 145px;
  background-color: #312f38;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  &-navigation {
    &-lists {
      display: flex;
      gap: 2rem;
      align-items: center;
      color: white;
    }
  }
}

.footer-paragraph {
  font-size: 0.8rem !important;
  text-align: center;
  width: 300px;
}
